    <mat-toolbar color="primary" style="z-index: 100;">
      <div class="flex-spacer">
        <div class="header">
            <mat-icon (click)="this.router.navigate(['home'])">home</mat-icon>
            <h1>Nail Scheduler</h1>
        </div>
      </div>

      @if(this.auth.logged_in){
        <button mat-flat-button (click)="this.auth.logout()"> Logout</button>
      }
      @else{
        <button mat-flat-button (click)="this.router.navigate(['/login'])"> Login</button>
      }
    
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- End Content Here -->

