@if(this.business.owner_uid == this.auth.user?.uid){
  <div class="services-container">
    <h2>Manage Services</h2>
  
    <h3>Sizes</h3>
    <table class="services-table">
      <thead>
        <tr>
          <th>Size</th>
          <th>Min Price</th>
          <th>Max Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let size of this.business.sizes">
          <td>{{ size.name }}</td>
          <td>
            <ng-container *ngIf="editingSize === size.name; else displayMinPrice">
              <input type="text" [(ngModel)]="newSize.minPrice" (keydown.enter)="saveSizeEdit()" (keydown.escape)="cancelSizeEdit()">
            </ng-container>
            <ng-template #displayMinPrice>
              ${{ size.minPrice }}
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="editingSize === size.name; else displayMaxPrice">
              <input type="text" [(ngModel)]="newSize.maxPrice" (keydown.enter)="saveSizeEdit()" (keydown.escape)="cancelSizeEdit()">
            </ng-container>
            <ng-template #displayMaxPrice>
              ${{ size.maxPrice }}
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="editingSize === size.name; else editSizeButton">
              <button (click)="saveSizeEdit()">Save</button>
              <button (click)="cancelSizeEdit()">Cancel</button>
            </ng-container>
            <ng-template #editSizeButton>
              <button (click)="startEditingSize(size.name, size.minPrice, size.maxPrice)">Edit</button>
            </ng-template>
          </td>
        </tr>
        <tr>
          <td><input type="text" [(ngModel)]="newSize.name" placeholder="New Size"></td>
          <td><input type="text" [(ngModel)]="newSize.minPrice" placeholder="Min Price"></td>
          <td><input type="text" [(ngModel)]="newSize.maxPrice" placeholder="Max Price"></td>
          <td><button (click)="addNewSize()">Add</button></td>
        </tr>
      </tbody>
    </table>
  
    <h3>Services</h3>
    <table class="services-table">
      <thead>
        <tr>
          <th>Service</th>
          <th>Price</th>
          <th>Include Length in Price?</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of this.business.services">
          <td>{{ service.name }}</td>
          <td>
            <ng-container *ngIf="editingService === service.name; else displayServicePrice">
              <input type="text" [(ngModel)]="newService.price" (keydown.enter)="saveServiceEdit()" (keydown.escape)="cancelServiceEdit()">
            </ng-container>
            <ng-template #displayServicePrice>
              ${{ service.price }}
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="editingService === service.name; else displayPlusLength">
              <input type="checkbox" [(ngModel)]="newService.isLengthBased">
            </ng-container>
            <ng-template #displayPlusLength>
              {{ service.isLengthBased ? 'Yes' : 'No' }}
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="editingService === service.name; else editServiceButton">
              <button (click)="saveServiceEdit()">Save</button>
              <button (click)="cancelServiceEdit()">Cancel</button>
            </ng-container>
            <ng-template #editServiceButton>
              <button (click)="startEditingService(service.name, service.price, service.isLengthBased)">Edit</button>
            </ng-template>
          </td>
        </tr>
        <tr>
          <td><input type="text" [(ngModel)]="newService.name" placeholder="New Service"></td>
          <td><input type="text" [(ngModel)]="newService.price" placeholder="Price"></td>
          <td><input type="checkbox" [(ngModel)]="newService.isLengthBased"></td>
          <td><button (click)="addNewService()">Add</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
}
@else{
  <div class="services-container">

    <h2>Sizes</h2>
    <table class="services-table">
      <thead>
        <tr>
          <th>Size</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let size of this.business.sizes">
          <td>{{ size.name }}</td>
          <td>${{ size.minPrice }} - ${{ size.maxPrice }}</td>
        </tr>
      </tbody>
    </table>
  
    <h2>Services</h2>
    <table class="services-table">
      <thead>
        <tr>
          <th>Service</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of this.business.services">
          <td>{{ service.name }}</td>
          <td>${{ service.price }}{{ service.isLengthBased ? ' + length price' : '' }}</td>
        </tr>
      </tbody>
    </table>
  </div>  
}