mat-card{
    background-color: #00000011;
  }
  
  mat-card-title {
    text-align: center;
  }
  
  mat-card-subtitle {
    font-family:'Times New Roman', Times, serif;
  }

  .no-requests {
    font-weight: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

  .appointments-container {
    position: relative;
    padding: 20px;
    border: 2px ridge #C2185B;
    border-radius: 10px;
    text-align: center; /* Center the text inside the container */
    width: 65%;
    margin: auto;
    margin-top: 20px;
    background-color: #0000003d;
    min-height: 80%;
  }
  
  .appointments-title {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    color: #000000; /* Skyrim-like grey color for the text */
    background-color: transparent; /* Ensure no background color */
  }

  