
<div class="appointments-container">
    <h1 class="appointments-title">My Appointments</h1>
    <div class="appointments-content">
      @if (0 == 0) {
          <mat-card>There are currently no appointments scheduled.</mat-card>
      }
      @else {
      <ng-container *ngFor="let request of []">
          <mat-card class="centered-card" >
              <mat-card-content style="text-align: center;">
                  <mat-card-title class="center-content">Jane Doe's Business!</mat-card-title>
              </mat-card-content>
      
              <mat-card-subtitle style="text-align: center;">
                  [Date/Time for Appointment]
              </mat-card-subtitle>
      
              <mat-card-actions style="display: flex; justify-content: center;">
                <!-- TODO: ADD ACTIONS -->
              </mat-card-actions>
          </mat-card>
      </ng-container>
      }
    </div>
  </div>
  
  <!-- <mat-grid-list cols="1" rowHeight="100px" gutterSize="5px">
      <mat-grid-tile> <h1>Notifications</h1></mat-grid-tile>
  </mat-grid-list>
  
  <ng-container *ngFor="let request of this.firestore.user.requests">
      <mat-card class="centered-card" >
          <mat-card-content style="text-align: center;">
              <mat-card-title class="center-content">Come join {{request.cname}}!</mat-card-title>
          </mat-card-content>
  
          <mat-card-subtitle style="text-align: center;">
              You've been invited to join this campaign. Ready up!
          </mat-card-subtitle>
  
          <mat-card-actions style="display: flex; justify-content: center;">
              <button mat-button (click)="accept_request(request)">Accept</button>
              <button mat-button (click)="decline_request(request)">Decline</button>
          </mat-card-actions>
      </mat-card> -->