<p>Awaiting Firestore Setup</p>
<!-- @for ( entry of this.firestore.campaigns | keyvalue; track entry.key ) {
    <mat-card class="centered-card" (click)="this.router.navigate(['/campaigns/'.concat(entry.key)])">
        <mat-card-content>
            <mat-card-title class="center-content">
                <h4>{{entry.value.name}}</h4>
            </mat-card-title>
            <mat-card-subtitle class="center-content"> 
                DM: 
                @if(this.firestore.user.uid == entry.value.owner){
                    You
                }
                @else {
                    {{ this.firestore.get_username(entry.value.owner) }} 
                }
                
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>
}
<div class="center-content"><button mat-fab (click)="this.new_campaign()"><mat-icon>add</mat-icon></button></div>
 -->
