mat-card{
    border: 2px ridge #C2185B;
    background-color: #00000090;
    margin: 20px;
  }
  
  mat-card-title {
    text-align: center;
  }
  
  mat-card-subtitle {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
  }