<div style="text-align: center; margin: 10px; font-size: 22pt;">

</div>
<mat-card class="centered-card">
    <mat-tab-group animationDuration="0ms" fitInkBarToContent="true" backgroundColor="primary">
        <mat-tab class= "business-tab" label="Overview">
            <app-business-info [business]="this.business"></app-business-info>
        </mat-tab>
        <mat-tab label="Services">
            <app-business-services [business]="this.business"></app-business-services>
        </mat-tab>
        <mat-tab label="Availability">
            <app-business-availability [business]="this.business"></app-business-availability>
        </mat-tab>

        @if(this.business.owner_uid == this.auth.user?.uid){
            <mat-tab label="Appointments">
                <app-business-appointments></app-business-appointments>
            </mat-tab>
        }
      </mat-tab-group>

      @if(this.business.owner_uid != this.auth.user?.uid){
        <button style="max-width: 50%; margin: auto;" mat-flat-button>Book Appointment</button>
      }
</mat-card> 