mat-card{
    border: 2px ridge #C2185B;
    background-color: #00000025;
    margin: 20px;
  }
  
  mat-card-title {
    text-align: center;
  }
  
  mat-card-subtitle {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
  }

  h3 {
    font-weight: bold;
    padding-top: 10px;
  }

  .business-detail {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    padding: 5px;
  }
  